body {
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}

.header{
    display: flex;
}

.sneakers{
    width: 100%; /* 幅いっぱいを指定 */
    padding-left: 20px;
    background: white;
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
}

.sneakers-video{
    width: 100%;
}

/* ここから、ハンバーガーメニュー */

html {
    font-size: 100%;
}
body {
    color: #121212;
    font-size: 0.9rem;
    line-height: 1.7;
}
a {
    color: #121212;
    text-decoration: none;
}
/* img {
    max-width: 100%;
} */
li {
    list-style: none;
}
.site-title {
    line-height: 1px;
}
.site-title a {
    display: block;
}
.sec-title {
    font-size: 2.25rem;
    margin-bottom: 30px;
    text-align: center;
}
/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}

/*
ハンバーガーメニュー
解説は、「中級編：ストアサイト（インテリア）」のCSS参照
*/
#navi {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: #fff;
    padding: 60px 25px;
    background-color: #121212;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
}
#navi a {
    color: #fff;
}
.open #navi {
    left: 0;
    opacity: 1;
}
#navi ul {
    margin: 0;
    padding: 0;
}
#navi ul.nav-menu {
    margin-bottom: 60px;
    border-top: solid 1px #fff;
}
#navi ul.nav-menu li {
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
}
#navi ul.nav-sns li {
    padding: 5px 0;
}
.toggle_btn {
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 20;
}
.toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
}
.toggle_btn span:nth-child(1) {
    top: 4px;
}
.toggle_btn span:nth-child(2) {
    top: 14px;
}
.toggle_btn span:nth-child(3) {
    bottom: 4px;
}
.open .toggle_btn span {
    background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
    opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
}
#mask {
    display: none;
    transition: all .5s;
}
.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
}

/* ここまでハンバーガーメニュー */

.pickup{
    text-align:center;
}

.feature{
    text-align:center;
}

.box-group1{
    display: flex;
}

/* @media (min-width: 1000px){
.box-group1{
    display: flex;
}
} */

/* @media (max-width: 1000px) {
.box-group-respo1 {    
    display: flex;
}
} */

.sneakers-box1{
    padding: 0 0 2em 0; /*余白*/
    width: 33%;
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    box-shadow: 0 0 8px 4px #ccc;
    margin: 10px;
}

.sneakers-pic1{
    width: 100%;
    height: 300px;
    opacity : 0;
    transition: opacity 3s;
}

.sneakers-pic1.view{
    opacity: 1;
}

.category{
    padding: 25px 0 5px 20px;
    font-size: 13px;
}

.text{
    padding: 15px 20px 5px 20px;
}

.day{
    padding-right: 10px;
    text-align: right;
    font-size: 13px;
}

.sneakers-box2{
    padding: 0 0 2em 0; /*余白*/
    width: 33%;
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    box-shadow: 0 0 8px 4px #ccc;
    margin: 10px;
}

.sneakers-pic2{
    width: 100%;
    height: 300px;
    opacity : 0;
    transition: opacity 3s;
}

.sneakers-pic2.view{
    opacity: 1;
}

.sneakers-box3{
    padding: 0 0 2em 0; /*余白*/
    width: 33%;
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    box-shadow: 0 0 8px 4px #ccc;
    margin: 10px;
}

.sneakers-pic3{
    width: 100%;
    height: 300px;
    opacity : 0;
    transition: opacity 3s;
}

.sneakers-pic3.view{
    opacity: 1;
}

.box-group2{
    display: flex;
}

.sneakers-box4{
    padding: 0 0 2em 0; /*余白*/
    width: 33%;
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    box-shadow: 0 0 8px 4px #ccc;
    margin: 10px;
}

.sneakers-pic4{
    width: 100%;
    height: 300px;
    opacity : 0;
    transition: opacity 3s;
}

.sneakers-pic4.view{
    opacity: 1;
}

.sneakers-box5{
    padding: 0 0 2em 0; /*余白*/
    width: 33%;
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    box-shadow: 0 0 8px 4px #ccc;
    margin: 10px;
}

.sneakers-pic5{
    width: 100%;
    height: 300px;
    opacity : 0;
    transition: opacity 3s;
}

.sneakers-pic5.view{
    opacity: 1;
}

.sneakers-box6{
    padding: 0 0 2em 0; /*余白*/
    width: 33%;
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    box-shadow: 0 0 8px 4px #ccc;
    margin: 10px;
}

.sneakers-pic6{
    width: 100%;
    height: 300px;
    opacity : 0;
    transition: opacity 3s;
}

.sneakers-pic6.view{
    opacity: 1;
}

.box-group3{
    display: flex;
}

.sneakers-box7{
    padding: 0 0 2em 0; /*余白*/
    width: 33%;
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    box-shadow: 0 0 8px 4px #ccc;
    margin: 10px;
}

.sneakers-pic7{
    width: 100%;
    height: 300px;
    opacity : 0;
    transition: opacity 3s;
}

.sneakers-pic7.view{
    opacity: 1;
}

.sneakers-box8{
    padding: 0 0 2em 0; /*余白*/
    width: 33%;
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    box-shadow: 0 0 8px 4px #ccc;
    margin: 10px;
}

.sneakers-pic8{
    width: 100%;
    height: 300px;
    opacity : 0;
    transition: opacity 3s;
}

.sneakers-pic8.view{
    opacity: 1;
}

.sneakers-box9{
    padding: 0 0 2em 0; /*余白*/
    width: 33%;
    background-color: #fff; /* 背景色 */
    border: 1px solid #ccc; /* 枠線 */
    box-shadow: 0 0 8px 4px #ccc;
    margin: 10px;
}

.sneakers-pic9{
    width: 100%;
    height: 300px;
    opacity : 0;
    transition: opacity 3s;
}

.sneakers-pic9.view{
    opacity: 1;
}

.footer{
    height: 580px;
    width: 100%;
	background: rgb(23, 22, 22);
    color: #fff;
}

@media (max-width: 600px) {
.footer {
    height: 950px;
}
}

.footer-box{
    display: flex;
}

@media (max-width: 600px) {
.footer-box {
    display:initial
}
}

.footer-textbox{
    width: 47%;
    margin-left: 10px;
}

@media (max-width: 600px) {
.footer-textbox {
    width: 100%;
}
}

.footer-text1{
    margin: 0 5px 20px 10px;
}

.footer-text2{
    margin: 30px 5px 20px 10px;
}

.footer-text3{
    margin: 30px 5px 10px 10px;
}

.contact-title{
    text-align: center;
    padding-top: 50px;
}

.contact{
    width: 45%;
    position: absolute;
    right: 10px;
}

@media (max-width: 600px) {
.contact {
    width: 100%;
    position: relative;
    left: 10px;
}
}

.contact-title{
    margin-top: 100px;
}

@media (max-width: 600px) {
.contact-title {
    font-size: 25px;
    padding-top: 90px;
}
}

.name-title{
    /* position: relative;
    left: 1%;
    bottom: 30px; */
}

#name{
    height: 40px;
    width: 90%;
    margin: 10px;
    /* position: relative;
    right: 5%; */
}

.mail-title{
    position: relative;
    top: 15px;
    left: 13px;
}

#email{
    height: 40px;
    margin: 20px 10px 10px 10px;
    width: 90%;
}

.message-box{
    justify-content: center;
    align-items: center;
}

.message-title{
    position: relative;
    top: 15px;
    left: 10px;
}

#message{
    height: 90px;
    position: relative;
    left: 9px;
    margin-top: 25px;
    width: 90%;
}

.send{
    margin-top: 15px;
    height: 55px;
    width: 205px;    
    font-size: 15px;
    color: white;
    background-color: black;
    border: 1px solid white;
    position: relative;
    top: 15px;
    left:10px;
}

@media (max-width: 600px) {
.send {
    width: 90%;
}
}

.send:hover{
    color: black;
    background-color: white;
}